In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/leandro/Desktop/bases/Salary.csv")
df.head(2)

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205

In [ ]:
import requests
import json

url = "https://as5jmctylk.execute-api.us-east-1.amazonaws.com/default/demo_forecast"

data = {"alo": 5,
        "aloha": 2,
        "hallo": 11.3
       }

#